@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Eudoxus Sans', sans-serif;
}

body {
  background-color: #1a232e;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #7aebfb;
  filter: blur(190px);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  top: -4%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(250px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  top: 0%;
  right: -10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(250px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  position: absolute;
  width: 400px;
  height: 400px;
  right: -50%;
  bottom: 30%;

  background: hsl(221deg 73% 70%) 74%;
  filter: blur(360px);
}

@layer components {
  .section-divider {
    @apply mx-auto h-1 w-8 rounded-[10px] bg-gradient-to-r from-[#8F60D5] to-[#2EA7C8] md:w-10;
  }

  .contact-button-wrapper {
    @apply relative z-10 mt-16 inline-block rounded-md bg-gradient-to-r from-[#8F60D5] to-[#2EA7C8] p-[2px];
  }

  .contact-button-text {
    @apply rounded-md bg-[#315F6C] px-5 py-3 text-base font-semibold md:text-lg;
  }
}
